.menu-position-list {
    display: flex;
    width: 1080px;
    align-items: center;
    flex-wrap: wrap;
}

.positionPlaceholder {
    display: block;
    width: 536px;
    position: relative;
    padding: 2px 2px;
    height: 175px;
    overflow: hidden;
    text-align: left;
}
.positionPlaceholder.index0 img {
    margin-left: -183px;
    margin-top: -178px;
    width: 358px;
    opacity: 0.7;
}
.positionPlaceholder.index3{
    text-align: right;
}
.positionPlaceholder.index3 img {
    margin-left: 9px;
    margin-top: -178px;
    width: 358px;
    opacity: 0.7;
    margin-right: -180px;
}

.positionPlaceholder.index2 img {
    margin-left: -183px;
    width: 358px;
    opacity: 0.7;
}
